

.input {
    flex-direction: column;
    margin: 0 auto;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.search__b {
    margin:0 2rem;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 10px;
    background-color: #fff;
    cursor: pointer;
}